<section class="bg-primary" id="footer">
    <div class="container">
        <h2 class="section-heading text-white text-center">Contact Info</h2>
        <hr class="light my-4">
        <p class="text-faded mb-4 text-center">fabian.cano@correounivalle.edu.co</p>
        <div style="width: 180px;" class=" mx-auto text-center">
            <div class="row">
                    <a style="width: 60px;" (click)="goToFacebook()"> 
                        <div class="facebook-logo"></div>
                    </a>
                     <a style="width: 60px;" (click)="goToTwitter()"> 
                        <div class="twitter-logo"></div>
                    </a>
                    <a style="width: 60px;" (click)="goToLinkedin()"> 
                        <div class="linkedin-logo"></div>
                    </a>
                
            </div>
        </div>
    </div>
</section>