<section class="bg-primary" id="footer">
    <div class="container">
        <h2 class="section-heading text-white text-center">Contact Info</h2>
        <hr class="light my-4">
        <p class="text-faded mb-4 text-center">fabian.cano@correounivalle.edu.co</p>
        <div class="col-3 mx-auto text-center">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-12 align-items-stretch">
                    <a (click)="goToFacebook()"> 
                        <div class="facebook-logo"></div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-12 align-items-stretch">
                    <a (click)="goToTwitter()"> 
                        <div class="twitter-logo"></div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-12 align-items-stretch">
                    <a (click)="goToLinkedin()"> 
                        <div class="linkedin-logo"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>