<section id="menu">
  <div class="container">
  <div class="card-deck">
  <div class="card">
    <a (click)="goFlights()">
    <img class="card-img-top" src="assets/images/flights.gif" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title text-center">Check Flights</h5>
    </div>
    </a>
  </div>
  <div class="card">
    <a (click)="goToYourFlights()">
    <img class="card-img-top" src="assets/images/tickets.gif" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title text-center">Check your Flights</h5>
    </div>
    </a>
  </div>
</div>
  </div>
</section>