<section id="technologies">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Technologies Used In This Project</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <a (click)="goToAngular()"> 
                <div class="angular-logo"></div>
              </a>
              <h3 class="mb-3">Angular</h3> 
              <p class="text-muted mb-0">Version 5</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <a (click)="goToBootstrap()"> 
                <div class="bootstrap-logo"></div>
              </a>
              <h3 class="mb-3">Bootstrap</h3>
              <p class="text-muted mb-0">Version 4</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <a (click)="goToNode()"> 
                <div class="nodejs-logo"></div>
              </a>
              <h3 class="mb-3">NodeJS</h3>
              <p class="text-muted mb-0">Version 4</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <a (click)="goToExpress()"> 
                <div class="expressjs-logo"></div>
              </a>
              <h3 class="mb-3">ExpressJS</h3>
              <p class="text-muted mb-0">Version 4</p>
            </div>
          </div>
        </div>
      </div>
    </section>